
<main >
    <!--Navigation-->

    <!--Hero and Login Form: Bootstrap-->
    <div class="hero">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class=" text-white display-4 fw-bold lh-1 mb-3 ">Welcome to The Mighty Bookworm!</h1>

                </div>
                <!--Login Form-->
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border-black rounded-3 "
                        style="background: #ADA996;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        ">
                        <h1 class="text-black">Login</h1>
                        <p class="smallFont">Don't Have An Account ? 
                        <a class=" text-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                           Register
                        </a>
                        </p>

                        <div class="form-floating mb-3">
                            <input type="username" class="form-control" id="floatingInput" placeholder="@username">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <!--Login Button-->
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
                    </form>
                </div>
                <!--Form Div End-->
            </div>
        </div>
    </div>
    <!--Hero End-->
    <div class="container About-Us shadow-lg border-dark rounded-3 mt-5 p-5"
        style="background: #BE93C5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        ">

        <!-- START THE FEATURETTES: Code Sourced from Bootstrap Example Code -->

        <!-- <hr class="featurette-divider"> -->

        <div class="row featurette">
            <div class="col-md-7 ">
                <h2 class="featurette-heading fw-bolder text-black">Reading Reimagined: <span class="text-muted">Document your journey like
                        never
                        before.</span></h2>
                <p class="lead text-black ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officiis suscipit
                    rem. Maiores
                    maxime nisi eligendi ratione vitae iusto, dolore rem totam dolorem illum ipsa sunt magni ipsam quis
                    voluptatum!.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./images/holybook.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading text-black fw-bolder">A libary at your fingertips. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eveniet quia, debitis
                    quibusdam vero
                    officia. Id a cum quisquam laudantium temporibus quo perferendis iste facilis, voluptas iure debitis
                    laboriosam
                    qui.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="./images/searchingbooks.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-bold text-black">Let the journey begin. <span class="text-muted">Into the archives we
                        go.</span>
                </h2>
                <p class="lead text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae reiciendis minima ex
                    quaerat
                    accusamus nihil! Ab debitis sed quod iure repudiandae tenetur consectetur laboriosam voluptatem.
                    Enim omnis rem
                    nam assumenda?</p>
            </div>
            <div class="col-md-5">
                <img src="./images/booknladder.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
    <!--Sign Up Modal-->

    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-body">
                 <form class="p-4 p-md-5 border rounded-3 bg-light">
                     <h1>Register</h1>
                     <p class="smallFont">Already Have An Account ?
                         <a class=" text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Login
                         </a>
                     </p>

                     <div class="form-floating mb-3">
                         <input type="username" class="form-control" id="floatingInput" placeholder="@username">
                         <label for="floatingInput">Username</label>
                     </div>
                     <div class="form-floating mb-3">
                         <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                         <label for="floatingPassword">Password</label>
                     </div>
                     <!--Login Button-->
                     <button class="w-100 btn btn-lg btn-primary" type="submit">Register </button>
                 </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   
                </div>
            </div>
        </div>
    </div>
</main>
Compose:
New Message
MinimizePop-outClose
